<div class="box">
    <h2>Account</h2>
    <div class="wrap">
        <div class="inner">
            <p>Change your account information</p>
            <form id="frm-account">
            E-mail
            <br />
            <input type="text" name="email" value="{{email}}" class="span4" />
            <br />
            Username
            <br />
            <input type="text" name="username" value="{{username}}" class="span4" />
            <br />
            Password
            <br />
            <input type="password" name="password" value="{{password}}" class="span4" />
            <br />
            <div style="float: right; width: 200px; color: #060; padding-top: 20px" class="account_info"></div>
            <input type="submit" name="submit" value="Save Changes" class="btn btn-success" />
            </form>
        </div>
    </div>
</div>
