<div class="box">
  <h2>Reset Password</h2>
  <div class="wrap">
    <div class="inner">
      <p>Change your password</p>
      <form id="frm-password">
        <input type="hidden" name="token" value="{{token}}" />
        <fieldset>
          E-mail
          <br />
          <input type="text" name="email" value="" class="span4" />
          <br />
          Password
          <br />
          <input type="password" name="password" value="" class="span4" />
          <br />
          Confirm Password
          <br />
          <input type="password" name="password_confirmation" value="" class="span4" />
          <br />
          <div style="float: right; width: 200px; color: #060; padding-top: 20px" class="account_info"></div>
          <input type="submit" name="submit" value="Save Changes" class="btn btn-success" />
      </form>
    </div>
  </div>
</div>

