<div class="modal modal-signup">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <form class="signup-form">
      <h2 class="title">Sign In</h2>
      <div class="alert alert-error" style="display:none">
        <strong>Ooops!</strong>
      </div>
      <div class="alert alert-success" style="display:none">
        <strong>Ooops!</strong>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="text" class="login-field" name="email" id="email" placeholder="Email" data-error-style="inline" />
          <label class="login-field-icon icon-email" for="email"></label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-large btn-block reset">Reset Password</button>

    </form>
  </div>

</div>
