<div class="modal modal-signup">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <form class="signup-form">
      <h2 class="title">Sign Up</h2>
      <div class="alert alert-error" style="display:none">
        <strong>Ooops!</strong>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="text" class="login-field" name="username" id="username" placeholder="User Name" data-error-style="inline" />
          <label class="login-field-icon fui-user" for="username"></label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input type="password" class="login-field" name="password" id="password" placeholder="Password" data-error-style="inline" />
          <label class="login-field-icon fui-lock" for="password"></label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input type="text" class="login-field" name="email" id="email" placeholder="Email" data-error-style="inline" />
          <label class="login-field-icon icon-email" for="email"></label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-large btn-block save">Join the Bookmark Service</button>

    </form>
  </div>

</div>
