<div class="modal modal-signup">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <form class="signup-form">
      <h2 class="title">Sign In</h2>
      <div class="alert alert-error" style="display:none">
        <strong>Ooops!</strong>
      </div>
      <div class="control-group">
        <div class="controls">
          <input type="text" class="login-field" name="username" id="username" placeholder="User Name" data-error-style="inline" />
          <label class="login-field-icon fui-user" for="username"></label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input type="password" class="login-field" name="password" id="password" placeholder="Password" data-error-style="inline" />
          <label class="login-field-icon fui-lock" for="password"></label>
        </div>
      </div>

      <div class="control-group">
        <label class="checkbox" for="rememberme">
          <input type="checkbox" value="y" id="rememberme" data-toggle="checkbox">
          Remember me
        </label>
      </div>

      <button type="submit" class="btn btn-primary btn-large btn-block signin">Enter</button>

      <a href="#" class="btn-forgot">Forgot Password ?</a>

    </form>
  </div>

</div>
